@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Radio Canada', sans-serif;
}

* {
  box-sizing: border-box;
  
}

::selection {
  background: #F3822D;
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background: #F3822D;
  color: white;
  text-shadow: none;
}